*{
    margin: 0;
    padding: 0;

}

body {

background: #E9ECF4;
color: #000;
font-family: 'Roboto', sans-serif;

}

.contenedor{

width: 90%;
max-width: 1000px;
margin: 20px auto;
display: grid;
grid-gap: 10px;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, auto);
grid-template-areas: "header header header header" ;


}
.contenedor > div, 
.contenedor .titulo,
.contenedor .menu,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {

background: #fff;
padding: 20px;
border-radius: 4px;

}

.contenedor .titulo{
background: #12203e;
color: #fff;
/*grid-column: span 4; */
grid-area: header;

}

.contenedor .nav{

    /*grid-column: span 4;*/
}

.contenedor .menu{

    background-color: #f6c77be0;
    color: #000;
    

}

.contenedor .nav ul{

list-style: none;

}
.contenedor .menu > li{
position: relative;
display: inline-block;

}

.contenedor .menu > li > a {
    display: block;
    padding: 10px 50px;
    text-decoration: none;

}

.contenedor .menu li a:hover{

    color: cadetblue;
}

.contenedor .sub1{

position: absolute;
background: #12203e;

display: none;
}
.contenedor .sub1 li a {
   
display: block;
width: 120px;
padding: 15px;
color: #fff;
text-decoration: none;
}

.contenedor .menu li:hover .sub1{
    display: block;
}

.contenedor .sub2{

    position: absolute;
    background: #12203e;
    
    display: none;
    }
    .contenedor .sub2 li a {
    
    display: block;
    width: 160x;
    padding: 15px;
    color: #fff;
    text-decoration: none;

    }
    
    .contenedor .menu li:hover .sub2{
        display: block;
    }

    .contenedor .sub3{

        position: absolute;
        background: #12203e;
        
        display: none;
        }
        .contenedor .sub3 li a {
       
        display: block;
        width: 150px;
        padding: 15px;
        color: #fff;
        text-decoration: none;
        }
        
        .contenedor .menu li:hover .sub3{
            display: block;
        
        
        }



.contenedor .contenido{

    background: #fff;
    color: #000;
    grid-column: span 3;

}

.contenido .sidebar{

/*grid-column: span 1;*/


}

.contenedor .footer {
background: #12203e;
color: #fff;
/*grid-column: span 4;*/


}


