*{
    margin: 0;
    padding: 0;

}

body {

background: #E9ECF4;
color: #000;
font-family: 'Roboto', sans-serif;

}

.contenedor{

width: 90%;
max-width: 1000px;
margin: 20px auto;
display: grid;
grid-gap: 10px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, auto);


}
.contenedor > div, 
.contenedor .titulo,
.contenedor .menu,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {

background: #fff;
padding: 20px;
border-radius: 4px;

}

.contenedor .titulo{
background: #12203e;
color: #fff;
grid-column: span 3;

}

.contenedor .menu{

    background: #f6c67b;
    color: rgb(0, 0, 0);
    grid-column: span 3;


}
.contenedor .contenido{

    background: #fff;
    color: rgb(0, 0, 0);
    grid-column: span 2;

}

.contenedor .footer {

grid-column: span 3;


}