@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





.logo1 {

    width: 200px;
    height: 150px;

}

footer {
    background: #12203e;
    font-style: italic;

}

footer p {
    color: #fff;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #fff;

}

.col-border {

    border-radius: 15px;
}

.contenidop {
    width: 99%;
    margin: 10px auto;

}


#img-index {
    max-height: 30rem !important;
    width: 70%;
}


/*=========================MEDIA QUERIES ================================*/
@media screen and (max-width:768px) {

    #titulo {

        flex-direction: column;
    }

}


/*========================= PANTALLA LG================================*/

@media (max-width:1200px) {
    #texto {
        width: 90% !important;
        margin: auto;
    }


}

/*=========================PANTALLA SM================================*/


@media (max-width:768px) {

    #texto {
        width: 90% !important;
        margin: auto;
    }


    #img-index{
        max-height: 20rem !important;
        width: 90%;
    }


#img-foto{

width: 70% !important;
height: 70%; 

}



    .logo1 {

        display: block;
        margin: 0 auto;


    }

}